<ng-form name="forms.keyValueEditor" novalidate ng-if="entries">
  <!-- may use ng-messages for better validation, if needed -->
  <div class="key-value-editor" ng-model="entries" as-sortable="dragControlListeners">
    <div
      class="key-value-editor-entry"
      ng-class-odd="'odd'"
      ng-class-even="'even'"
      ng-repeat="entry in entries"
      as-sortable-item>
      <!-- The name/key block -->
      <div
        class="form-group key-value-editor-input"
        ng-class="{ 'has-error' :  (forms.keyValueEditor['key-' + $index].$invalid) }">

        <label for="key-value-editor-key-{{unique}}-{{$index}}" class="sr-only">{{keyPlaceholder}}</label>

        <!-- name/key has icon -->
        <div class="input-group" ng-if="entry.keyIcon">
          <span class="input-group-addon">
            <span
              class="{{entry.keyIcon}}"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              data-original-title="{{entry.keyIconTooltip || keyIconTooltip}}"
              title="{{entry.keyIconTooltip || keyIconTooltip}}"></span>
          </span>

          <input
            type="text"
            class="form-control"
            ng-class="{ '{{setFocusKeyClass}}' : $last  }"
            id="key-value-editor-key-{{unique}}-{{$index}}"
            name="key-value-editor-key-{{unique}}-{{$index}}"
            placeholder="{{keyPlaceholder}}"
            ng-minlength="{{keyMinlength}}"
            maxlength="{{keyMaxlength}}"
            ng-model="entry.name"
            ng-readonly="isReadonlyAny || isReadonlySome(entry.name) || entry.isReadonlyKey || entry.isReadonly"
            ng-pattern="validation.key"
            ng-value
            ng-attr-key-value-editor-focus="{{grabFocus && $last}}">
        </div>

        <!-- name/key has no icon -->
        <input
          ng-if="(!entry.keyIcon)"
          type="text"
          class="form-control"
          ng-class="{ '{{setFocusKeyClass}}' : $last  }"
          id="key-value-editor-key-{{unique}}-{{$index}}"
          name="key-value-editor-key-{{unique}}-{{$index}}"
          placeholder="{{keyPlaceholder}}"
          ng-minlength="{{keyMinlength}}"
          maxlength="{{keyMaxlength}}"
          ng-model="entry.name"
          ng-readonly="isReadonlyAny || isReadonlySome(entry.name) || entry.isReadonlyKey || entry.isReadonly"
          ng-pattern="validation.key"
          ng-value
          ng-attr-key-value-editor-focus="{{grabFocus && $last}}">
        <!-- name/key help block -->
        <span
          class="help-block"
          ng-show="(forms.keyValueEditor['key-' + $index].$error.pattern)">
          <span>{{ entry.keyValidatorError || keyValidatorError ||  'validation error' }}</span>
          <span ng-if="entry.keyValidatorErrorTooltip || keyValidatorErrorTooltip" class="help action-inline">
            <a
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              data-original-title="{{entry.keyValidatorErrorTooltip || keyValidatorErrorTooltip}}"
              title="{{entry.keyValidatorErrorTooltip || keyValidatorErrorTooltip}}">
              <i class="{{entry.keyValidatorErrorTooltipIcon || keyValidatorErrorTooltipIcon}}"></i>
            </a>
          </span>
        </span>
        <span
          class="help-block"
          ng-show="(forms.keyValueEditor['key-' + $index].$error.minlength)">
          <span>Minimum character count is {{keyMinlength}}</span>
        </span>
      </div>
      <!-- the value block -->
      <div
        class="form-group key-value-editor-input"
        ng-class="forms.keyValueEditor['value-' + $index].$invalid ? 'has-error' : ''">

        <label for="key-value-editor-value-{{unique}}-{{$index}}" class="sr-only">{{valuePlaceholder}}</label>

        <!-- value has icon -->
        <div
          class="input-group"
          ng-if="entry.valueIcon">
          <span class="input-group-addon">
            <span
              class="{{entry.valueIcon}}"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              data-original-title="{{entry.valueIconTooltip || valueIconTooltip}}"
              title="{{entry.valueIconTooltip || valueIconTooltip}}"></span>
          </span>
          <!-- valueAlt when value is not present or is on a separate object key such as valueFrom: { something: 'else' } -->
          <input
            ng-if="entry.valueAlt"
            type="text"
            class="form-control"
            ng-class="{ '{{setFocusValClass}}' : $last  }"
            id="key-value-editor-value-{{unique}}-{{$index}}"
            name="key-value-editor-value-{{unique}}-{{$index}}"
            placeholder="{{valuePlaceholder}}"
            ng-model="entry.valueAlt"
            readonly>
          <!-- default value display -->
          <input
            ng-if="(!entry.valueAlt)"
            type="text"
            class="form-control"
            ng-class="{ '{{setFocusValClass}}' : $last  }"
            id="key-value-editor-value-{{unique}}-{{$index}}"
            name="key-value-editor-value-{{unique}}-{{$index}}"
            placeholder="{{valuePlaceholder}}"
            ng-minlength="{{valueMinlength}}"
            maxlength="{{valueMaxlength}}"
            ng-model="entry.value"
            ng-readonly="isReadonlyAny || isReadonlySome(entry.name) || entry.isReadonly"
            ng-pattern="validation.val">
        </div>

        <!-- value has no icon -->
        <div ng-if="(!entry.valueIcon)">
          <!-- valueAlt when value is not present or is on a separate object key such as valueFrom: { something: 'else' } -->
          <input
            ng-if="entry.valueAlt"
            type="text"
            class="form-control"
            ng-class="{ '{{setFocusValClass}}' : $last  }"
            id="key-value-editor-value-{{unique}}-{{$index}}"
            name="key-value-editor-value-{{unique}}-{{$index}}"
            placeholder="{{valuePlaceholder}}"
            ng-model="entry.valueAlt"
            readonly>

          <!-- default value display -->
          <input
            ng-if="(!entry.valueAlt)"
            type="text"
            class="form-control"
            ng-class="{ '{{setFocusValClass}}' : $last  }"
            id="key-value-editor-value-{{unique}}-{{$index}}"
            name="key-value-editor-value-{{unique}}-{{$index}}"
            placeholder="{{valuePlaceholder}}"
            ng-minlength="{{valueMinlength}}"
            maxlength="{{valueMaxlength}}"
            ng-model="entry.value"
            ng-readonly="isReadonlyAny || isReadonlySome(entry.name) || entry.isReadonly"
            ng-pattern="validation.val">
        </div>

        <!-- value help block -->
        <span
          class="help-block"
          ng-show="(forms.keyValueEditor['value-' + $index].$error.pattern)">
          <span>{{ entry.valueValidatorError || valueValidatorError ||  'validation error' }}</span>
          <span ng-if="entry.valueValidatorErrorTooltip || valueValidatorErrorTooltip" class="help action-inline">
            <a
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              data-original-title="{{entry.valueValidatorErrorTooltip || valueValidatorErrorTooltip}}"
              title="{{entry.valueValidatorErrorTooltip || valueValidatorErrorTooltip}}">
              <i class="{{entry.valueValidatorErrorTooltipIcon || valueValidatorErrorTooltipIcon}}"></i>
            </a>
          </span>
        </span>
        <span
          class="help-block"
          ng-show="(forms.keyValueEditor['value-' + $index].$error.minlength)">
          <span>Minimum character count is {{valueMinlength}}</span>
        </span>
      </div>
      <div class="key-value-editor-buttons">
        <span
          ng-if="(!cannotSort) && (entries.length > 1)"
          class="fa fa-bars"
          role="button"
          aria-label="Move row"
          aria-grabbed="false"
          as-sortable-item-handle></span>
        <a
          href=""
          class="pficon pficon-close as-sortable-item-delete"
          role="button"
          aria-label="Delete row"
          ng-hide="cannotDeleteAny || cannotDeleteSome(entry.name) || entry.cannotDelete"
          ng-click="deleteEntry($index, 1)"></a>
      </div>
    </div>

    <div
      class="key-value-editor-entry form-group"
      ng-if="(!cannotAdd) && addRowLink">
      <a
        href=""
        role="button"
        aria-label="Add row"
        ng-click="onAddRow()">{{ addRowLink }}</a>
    </div>

    <!-- the last one, placeholder -->
    <div
      class="key-value-editor-entry"
      ng-if="!cannotAdd && (!addRowLink)">
      <div
        class="form-group key-value-editor-input">
        <input
          type="text"
          class="form-control"
          placeholder="{{keyPlaceholder}}"
          ng-focus="onFocusLastKey()">
      </div>
      <div
        class="form-group key-value-editor-input">
        <input
          type="text"
          class="form-control"
          placeholder="{{valuePlaceholder}}"
          ng-focus="onFocusLastValue()">
      </div>
    </div>
  </div>

</ng-form>
