<ng-form name="keyValueEditor" novalidate ng-if="entries">
  <!-- may use ng-messages for better validation, if needed -->
  <div class="key-value-editor" ng-class="{'cannot-delete' : cannotDelete, 'cannot-sort' : cannotSort}" ng-model="entries" as-sortable="dragControlListeners">
    <div
      class="key-value-editor-entry"
      ng-class-odd="'odd'"
      ng-class-even="'even'"
      ng-repeat="entry in entries"
      as-sortable-item>
      <div
        class="form-group key-value-editor-input"
        ng-class="{ 'has-error' :  (keyValueEditor['key-' + $id].$invalid) }">
        <input
          type="text"
          class="form-control"
          ng-class="{ '{{setFocusClass}}' : $last  }"
          id="key-{{$id}}"
          name="key-{{$id}}"
          placeholder="{{keyPlaceholder}}"
          ng-minlength="{{keyMinlength}}"
          maxlength="{{keyMaxlength}}"
          ng-model="entry.name"
          ng-readonly="isReadonly || entry.isReadonly || entry.containsSecret"
          ng-pattern="keyValidator"
          ng-value>
        <span
          class="help-block"
          ng-show="(keyValueEditor['key-' + $id].$error.pattern)">
          <span>{{ entry.keyValidatorError || keyValidatorError ||  'validation error' }}</span>
          <span ng-if"entry.keyValidatorErrorTooltip || keyValidatorErrorTooltip" class="help action-inline">
            <span class="{{entry.keyValidatorErrorTooltipIcon || keyValidatorErrorTooltipIcon}}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{entry.keyValidatorErrorTooltip || keyValidatorErrorTooltip}}"></span>
          </span>
        </span>
        <span
          class="help-block"
          ng-show="(keyValueEditor['key-' + $id].$error.minlength)">
          <span>Minimum character count is {{keyMinlength}}</span>
        </span>
      </div>
      <div
        class="form-group key-value-editor-input"
        ng-class="(keyValueEditor['value-' + $id].$invalid && keyValueEditor['value-' + $id].$dirty) ? 'has-error' : ''">
        <div class="input-group" ng-if="entry.containsSecret">
          <span class="input-group-addon">
            <span class="{{entry.secretValueIcon || secretValueIcon}}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{entry.secretValueTooltip || secretValueTooltip}}"></span>
          </span>
          <input
            type="text"
            class="form-control"
            id="value-{{$id}}"
            name="value-{{$id}}"
            placeholder="{{valuePlaceholder}}"
            ng-minlength="{{valueMinlength}}"
            ng-maxlength="{{valueMaxlength}}"
            ng-model="entry.value"
            ng-readonly="isReadonly || entry.isReadonly || entry.containsSecret"
            ng-pattern="valueValidator">
        </div>
        <input
          type="text"
          class="form-control"
          id="value-{{$id}}"
          name="value-{{$id}}"
          placeholder="{{valuePlaceholder}}"
          ng-minlength="{{valueMinlength}}"
          maxlength="{{valueMaxlength}}"
          ng-model="entry.value"
          ng-readonly="isReadonly || entry.isReadonly || entry.containsSecret"
          ng-pattern="valueValidator"
          ng-if="!entry.containsSecret">
        <span
          class="help-block"
          ng-show="(keyValueEditor['value-' + $id].$error.pattern)">
          <span>{{ entry.valueValidatorError || valueValidatorError ||  'validation error' }}</span>
        </span>
        <span
          class="help-block"
          ng-show="(keyValueEditor['value-' + $id].$error.minlength)">
          <span>Minimum character count is {{valueMinlength}}</span>
        </span>
      </div>
      <div class="key-value-editor-buttons">
        <span
          ng-if="(!cannotSort)"
          class="fa fa-bars"
          role="button"
          aria-label="Move row"
          aria-grabbed="false"
          as-sortable-item-handle></span>
        <span
          class="pficon pficon-close as-sortable-item-delete"
          role="button"
          aria-label="Delete row"
          ng-hide="cannotDelete || entry.cannotDelete"
          ng-click="deleteEntry($index, 1)"></span>
      </div>
    </div>

    <!-- the last one, placeholder -->
    <div
      class="key-value-editor-entry"
      ng-if="!cannotAdd">
      <div
        class="form-group key-value-editor-input">
        <input
          type="text"
          class="form-control"
          placeholder="{{keyPlaceholder}}"
          ng-focus="onFocusLast()">
      </div>
      <div
        class="form-group key-value-editor-input">
        <input
          type="text"
          class="form-control"
          placeholder="{{valuePlaceholder}}"
          ng-focus="onFocusLast()">
      </div>
    </div>
  </div>

</ng-form>
